* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Logo */
.logo-container {
  text-align: center;
  margin: 20px 0;
}

.logo {
  width: 80px;
  height: 70px;
}

/* Login form */
.login-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
}

.user-type {
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
  justify-content: center;
}

.user-type label {
  display: flex;
  align-items: center;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 5px 0;
  font-size: 14px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.login-button:hover {
  background-color: #333;
  transition: all 0.3 ease;
}

.register-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  border: black;
}

.register-link:hover {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #c4c2c2;
  text-decoration: underline;
  color: #333;
  transition: all 0.3s ease;
}

/* Footer */
.footer {
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
