body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  margin-right: 10px;
}

.logo-text span {
  font-size: 20px;
  font-weight: bold;
}

.tagline {
  font-size: 10px;
  color: #ccc;
  margin: 0;
}

#hamburger-nav {
  display: flex;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3 ease-in-out;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.navbar .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: black;
  margin-right: 8rem;
}

.nav-top {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  position: static;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  position: static;
  margin-top: 1rem;
}

.nav-top .search-box {
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  outline: none;
  width: 30rem;
}

.nav-center a {
  flex-direction: row;
}

.nav-center a,
.dropbtn {
  color: white;
  display: flex;
  margin-top: 1rem;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.nav-center a:hover,
.dropbtn:hover {
  text-decoration: underline;
  transition: all 0.3 ease-in-out;
  color: #ccc;
}

.nav-center a::after,
.dropbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ccc;
  transition: width 0.3s ease-in-out;
}

.nav-center a:hover::after,
.dropbtn:hover::after {
  width: 100%;
}

.dropbtn .arrow {
  position: absolute;
  right: 51%;
  width: 0.7rem;
  height: auto;
  margin-left: 5px;
  margin-top: 0.25rem;
  opacity: 0;
  transform: rotate(180deg);
  transform-origin: center;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.dropbtn:hover .arrow {
  display: flex;
  opacity: 1;
  transform: rotate(0deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  gap: 0;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ccc;
}

.nav-right {
  display: flex;
  position: absolute;
  right: 0%;
  gap: 10px;
  margin-right: 3rem;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

.nav-right a:hover {
  transition: all 0.3 ease-in-out;
  color: #ccc;
}

.nav-right i {
  cursor: pointer;
}

.search-box {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.shopInterface {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: scroll;
}

.shop-main-img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin-left: 8rem;
}

.item-container {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  max-height: 500px;
  max-width: 250px;
  cursor: pointer;
}

.item-container:hover {
  transform: scale(1.02);
}

.item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-caption {
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
}

.item-price {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: right;
  margin-right: 3px;
}

.footer {
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
